@using EntityLayer.Concrete
@model List<TakimBilgi>

@{
    ViewBag.Title = "GetTakimBilgiAd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1 class="text-center accent-blue">Takımlar</h1>
<table class="table table-bordered">
    <tr>
        <th>Takım İsmi</th>
        <th>Takım Biigisi</th>
        <th>Takım Adresi</th>
        <th>Takım Tel</th>
        <th>Takım Logosu</th>
        <th>Takım Başkanı</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Takimİsmi</td>
            <td>@item.TakimBilgisi</td>
            <td>@item.TakimAdresi</td>
            <td>@item.TakimTel</td>
            <td><img width="128" height="100" src="@item.TakimLogo" alt="logo_@item.Takimid"></td>
            <td>@item.TakimBaskan</td>
            <td><button class="btn btn-primary">Düzenle</button></td>
        </tr>
    }

</table>

<br />
<a href="/TakimBilgi/AddTakimBilgi" class="btn btn-info">Takım Ekle</a>
<br />


